# Byte-compiled / optimized / DLL files
__pycache__/

.DS_Store
**/.DS_Store

# exclude specific files and directories in data

# ignore other contents in data directory
data/*
!data/readme.md
!data/hma-extent/HMA/hma_gtng_202307_subregions.gpkg

#
**.pptx
config.py 
